.square {
  position: absolute;
  top: 0;
  left: 0;
  width: 6.25%;
  height: 6.25%;
  pointer-events: none;
}

.square.selected {
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 1;
}

.square.drop-target {
  background: radial-gradient(
    rgba(20, 85, 30, 0.3) 0%,
    rgba(20, 85, 30, 0.3) 80%,
    rgba(0, 0, 0, 0) 80%
  );
  z-index: 1;
}

.square.drop-target.occupied {
  background: radial-gradient(
    transparent 0%,
    transparent 80%,
    rgba(20, 85, 0, 0.3) 80%
  );
}

.square.move-hint {
  background: radial-gradient(
    circle at center,
    rgba(20, 85, 30, 0.42) 0%,
    rgba(20, 85, 30, 0.42) 18%,
    transparent 19%
  );
  z-index: 3;
}
