.wrap {
  box-sizing: content-box;
  position: relative;
  display: block;
}

/* Use namespace to avoid clashing with tailwind `container` class */
.sc-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
}
