.coords {
  position: absolute;
  display: flex;
  pointer-events: none;
  opacity: 0.8;
  font-family: sans-serif;
  font-size: 9px;
}

.coords.ranks {
  right: 0.1rem;
  flex-flow: column-reverse;
  height: 100%;
  width: 12px;
  text-align: right;
}

.coords.ranks.black {
  flex-flow: column;
}

.coords.files {
  bottom: 0.1rem;
  left: -0.2rem;
  flex-flow: row;
  width: 100%;
  height: 12px;
  text-transform: uppercase;
  text-align: right;
}

.coords.files.black {
  flex-flow: row-reverse;
}

.coords .coord {
  flex: 1 1 auto;
}
