.coords {
  position: absolute;
  display: flex;
  pointer-events: none;
  opacity: 0.8;
  font-family: sans-serif;
  font-size: 9px;
}

.coords.ranks {
  right: 4px;
  flex-flow: column-reverse;
  height: 100%;
  width: 12px;
}

.coords.ranks.black {
  flex-flow: column;
}

.coords.files {
  bottom: -4px;
  left: 24px;
  flex-flow: row;
  width: 100%;
  height: 16px;
  text-transform: uppercase;
  text-align: center;
}

.coords.files.black {
  flex-flow: row-reverse;
}

.coords .coord {
  flex: 1 1 auto;
}
