.piece.white {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.piece.black {
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.piece.ash {
  background-color: #cccccc;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.piece.slate {
  background-color: #586e75;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.piece.pink {
  background-color: #ffafd2;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.piece.red {
  background-color: #dc050c;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.piece.orange {
  background-color: #f4a736;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.piece.yellow {
  background-color: #f7f056;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.piece.green {
  background-color: #4eb265;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.piece.cyan {
  background-color: #7bafde;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.piece.navy {
  background-color: #1965b0;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.piece.violet {
  background-color: #882e72;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
