---
import Layout from "./_Layout.astro";

import Container from "../game/ui/container/Container.tsx";
---

<Layout title="playsovereignchess.com">
  <div
    class=""
    style={{
      margin: "8px",
      width: "calc(100vw - 16px)",
      height: "calc(100vh - 16px)",
    }}
  >
    <Container client:only="solid-js" />
  </div>
</Layout>
