---
import Layout from "./_Layout.astro";

import Container from "../game/ui/container/Container.tsx";
---

<Layout title="playsovereignchess.com">
  <h1 class="text-2xl my-4">Play Sovereign Chess</h1>
  <div class="m-4">
    <Container client:only="solid-js" />
  </div>
</Layout>
