---
import "../styles/chessground.base.css";
import "../styles/chessground.brown.css";
import "../styles/chessground.cburnett.css";
---

<div id="chessboard" style="width: 500px; height: 500px;"></div>
